body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}

button {
    background: #000;
    border: 0;
    color: #fff;
    font-size: 1.2em;
    padding: 1.3em 2em;
}

#colors-input,
#colors-input-duck {
    font-size: 1.2em;
    height: 3.5em;
    width: 18em;
    text-align: center;
}

#colors-error {
    color: rgb(197, 7, 7);
    margin: 1em;
    font-size: 1.5em;
}

.main-background,
.form-duck {
    margin-top: 30vh;
}

#colors-form-background, #colors-form-duck {
    padding: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.main-duck {
    display: flex;
    justify-content: space-around;
}

.duck-image {
    margin-top: 20vh;
}

ul {
    display: flex;
    justify-content: center;
    gap: 5em;
    padding: 0;
}

a {
    text-decoration: none;
    color: #000;
}

a:hover {
    font-weight: bold;
}

li {
    list-style: none;
}

@media screen and (max-width: 1032px) and (min-width: 451px) {
    .main-duck {
        display: block;
    }

    .form-duck {
        margin-top: 5vh;
        max-width: 95vw;
    }

    .duck-image {
        margin-top: 3em;
        width: 400px;
    }
}

@media screen and (max-width: 450px) {
    .main-duck {
        display: block;
    }

    .form-duck {
        margin-top: 5vh;
        max-width: 95vw;
    }

    #colors-input-duck, #colors-input {
        width: 85vw;
    }

    .duck-image {
        margin-top: 1em;
        width: 90vw;
    }
}